.containerCard{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 15px auto;
}
.arrowL{
    position: absolute;
    margin-right: 400px;
}
.arrowR{
     position: absolute;
    margin-left: 400px;
}