@font-face {
    font-family: 'Technology';
    src: url('./../fonts/Technology-Bold.ttf');
}
.landing{
    display : flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-image: url('../img/space.jpg');
}
.go{
    text-decoration: none;
}
.button{
    width: 350px;
    height: 360px;
    margin-top: -30px;
    margin-bottom: 20px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-image: url('../img/portalAux.gif');
}
.enter{
    font-family: 'Technology';
    font-size: 60px;
    position: relative;
    color: black;
    text-decoration: underline;
    top: 43%;
    left: 22.5%;
}
.enter:hover{
    font-size: 75px;
    top: 40%;
    margin-left: -25px;
}